= link_to provider_url user: provider.user_login, repo: provider.repo_name, provider: provider.slug do
  = image_tag provider_url user: provider.user_login, repo: provider.repo_name, provider: provider.slug, format: 'png'