- markups = Markup.for_repo(@repo, host: root_url)
%dl.tabs.radius{ data: { tab: true } }
  - markups.each_with_index do |(markup, output), i|
    - css_class = i == 0 ? 'active' : ''
    %dd{ class: css_class }= link_to markup, "##{markup.parameterize('_')}"
#markup.tabs-content
  - markups.each_with_index do |(markup, output), i|
    - css_class = i == 0 ? 'content active' : 'content'
    %div{ class: css_class, id: markup.parameterize('_') }
      .well
        %pre.code
          = preserve do
            #{output}
