---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/jwaldrip?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4990'
      X-RateLimit-Reset:
      - '1375853152'
      Last-Modified:
      - Wed, 07 Aug 2013 03:28:36 GMT
      ETag:
      - '"5381ba1cfbb72107d2dd3b4f5d0edf5f"'
      X-GitHub-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"login":"jwaldrip","id":43164,"avatar_url":"https://secure.gravatar.com/avatar/ca94b06e32f746968f0aec970a702a0c?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"ca94b06e32f746968f0aec970a702a0c","url":"https://api.github.com/users/jwaldrip","html_url":"https://github.com/jwaldrip","followers_url":"https://api.github.com/users/jwaldrip/followers","following_url":"https://api.github.com/users/jwaldrip/following{/other_user}","gists_url":"https://api.github.com/users/jwaldrip/gists{/gist_id}","starred_url":"https://api.github.com/users/jwaldrip/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jwaldrip/subscriptions","organizations_url":"https://api.github.com/users/jwaldrip/orgs","repos_url":"https://api.github.com/users/jwaldrip/repos","events_url":"https://api.github.com/users/jwaldrip/events{/privacy}","received_events_url":"https://api.github.com/users/jwaldrip/received_events","type":"User","name":"Jason
        Waldrip","company":null,"blog":"jasonwaldrip.com","location":"Denver, CO","email":"jason@waldrip.net","hireable":true,"bio":"","public_repos":53,"followers":7,"following":6,"created_at":"2008-12-29T17:12:17Z","updated_at":"2013-08-07T03:28:36Z"}'
  recorded_at: Wed, 07 Aug 2013 04:34:01 GMT
- request:
    method: get
    uri: https://api.github.com/users/jwaldrip/repos?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&per_page=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4989'
      X-RateLimit-Reset:
      - '1375853152'
      Last-Modified:
      - Wed, 07 Aug 2013 03:28:36 GMT
      ETag:
      - '"5381ba1cfbb72107d2dd3b4f5d0edf5f"'
      X-GitHub-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":9439794,"name":"activerecord-postgis-adapter","full_name":"jwaldrip/activerecord-postgis-adapter","owner":{"login":"jwaldrip","id":43164,"avatar_url":"https://secure.gravatar.com/avatar/ca94b06e32f746968f0aec970a702a0c?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"ca94b06e32f746968f0aec970a702a0c","url":"https://api.github.com/users/jwaldrip","html_url":"https://github.com/jwaldrip","followers_url":"https://api.github.com/users/jwaldrip/followers","following_url":"https://api.github.com/users/jwaldrip/following{/other_user}","gists_url":"https://api.github.com/users/jwaldrip/gists{/gist_id}","starred_url":"https://api.github.com/users/jwaldrip/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jwaldrip/subscriptions","organizations_url":"https://api.github.com/users/jwaldrip/orgs","repos_url":"https://api.github.com/users/jwaldrip/repos","events_url":"https://api.github.com/users/jwaldrip/events{/privacy}","received_events_url":"https://api.github.com/users/jwaldrip/received_events","type":"User"},"private":false,"html_url":"https://github.com/jwaldrip/activerecord-postgis-adapter","description":"ActiveRecord
        connection adapter for PostGIS, based on postgresql and rgeo","fork":true,"url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter","forks_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/forks","keys_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/teams","hooks_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/hooks","issue_events_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/issues/events{/number}","events_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/events","assignees_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/assignees{/user}","branches_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/branches{/branch}","tags_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/tags","blobs_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/git/refs{/sha}","trees_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/statuses/{sha}","languages_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/languages","stargazers_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/stargazers","contributors_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/contributors","subscribers_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/subscribers","subscription_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/subscription","commits_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/commits{/sha}","git_commits_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/git/commits{/sha}","comments_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/comments{/number}","issue_comment_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/issues/comments/{number}","contents_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/contents/{+path}","compare_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/merges","archive_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/downloads","issues_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/issues{/number}","pulls_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/pulls{/number}","milestones_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/milestones{/number}","notifications_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/labels{/name}","created_at":"2013-04-15T03:11:21Z","updated_at":"2013-04-15T03:15:22Z","pushed_at":"2013-04-15T03:15:22Z","git_url":"git://github.com/jwaldrip/activerecord-postgis-adapter.git","ssh_url":"git@github.com:jwaldrip/activerecord-postgis-adapter.git","clone_url":"https://github.com/jwaldrip/activerecord-postgis-adapter.git","svn_url":"https://github.com/jwaldrip/activerecord-postgis-adapter","homepage":"http://dazuma.github.com/activerecord-postgis-adapter","size":136,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":7484946,"name":"adaptive_associations","full_name":"jwaldrip/adaptive_associations","owner":{"login":"jwaldrip","id":43164,"avatar_url":"https://secure.gravatar.com/avatar/ca94b06e32f746968f0aec970a702a0c?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"ca94b06e32f746968f0aec970a702a0c","url":"https://api.github.com/users/jwaldrip","html_url":"https://github.com/jwaldrip","followers_url":"https://api.github.com/users/jwaldrip[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/all_the_badges?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLimit-Limit:
    [...]
- request:
    method: get
    uri: https://api.github.com/repos/invalid_user/invalid_repo?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4987'
      X-RateLimit-Reset:
      - '1375853152'
      X-GitHub-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Not Found"}'
  recorded_at: Wed, 07 Aug 2013 04:34:04 GMT
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/heroku-buildpack-ruby/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4986'
      X-RateLimit-Reset:
      - '1375853152'
      Last-Modified:
      - Tue, 08 Jan 2013 01:56:28 GMT
      ETag:
      - '"de394715a056f1aebb3b5c1305eb403a"'
      X-GitHub-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"name":"CHANGELOG.md","path":"CHANGELOG.md","sha":"47d2aa46f6b345175344ec2663503d9981cdefc9","size":846,"url":"https://api.github.com/repos/jwaldrip/heroku-buildpack-ruby/contents/CHANGELOG.md?ref=master","html_url":"https://github.com/jwaldrip/heroku-buildpack-ruby/blob/master/CHANGELOG.md","git_url":"https://api.github.com/repos/jwaldrip/heroku-buildpack-ruby/git/blobs/47d2aa46f6b345175344ec2663503d9981cdefc9","type":"file","_links":{"self":"https://api.github.com/repos/jwaldrip/heroku-buildpack-ruby/contents/CHANGELOG.md?ref=master","git":"https://api.github.com/repos/jwaldrip/heroku-buildpack-ruby/git/blobs/47d2aa46f6b345175344ec2663503d9981cdefc9","html":"https://github.com/jwaldrip/heroku-buildpack-ruby/blob/master/CHANGELOG.md"}},{"name":"README.md","path":"README.md","sha":"6a52570e6f0d2e857a960e207412418257a21b4b","size":6807,"url":"https://api.github.com/repos/jwaldrip/heroku-buildpack-ruby/contents/README.md?ref=master","html_url":"https://github.com/jwaldrip/heroku-buildpack-ruby/blob/master/README.md","git_url":"https://api.github.com/repos/jwaldrip/heroku-buildpack-ruby/git/blobs/6a52570e6f0d2e857a960e207412418257a21b4b","type":"file","[...]
- request:
    method: get
    uri: https://api.github.com/users/invalid_user?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4985'
      X-RateLimit-Reset:
      - '1375853152'
      X-GitHub-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Not Found"}'
  recorded_at: Wed, 07 Aug 2013 04:34:06 GMT
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 2[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/all_the_badges/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/adaptive_associations/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/ar_double_poly/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/attr_encrypted/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/becomes_issue/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-R[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/cached-bundle-test/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=c8ad0ebabf6eca7383cb16f4f35ffe58d88890273eb9b1e64f530cf3cb057af1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/cached-bundler/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/capistrano/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Rate[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/concerned_inheritance/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/delegated_presenter/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
   [...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/dev-setup/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateL[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/em-proxy/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLi[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/execjs/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLimi[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/faraday_simulation/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    [...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/formal_wear/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Rat[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/formtastic/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Rate[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/gapi/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLimit-[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/git-cleanremote/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/git-pulls-oauth/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/homebrew/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLi[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/make_restful/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ra[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/memory_model/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ra[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/minimalrb/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateL[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/mongoid3-history/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      [...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/navigable_hash/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/oauth2/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLimi[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/obtvse/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLimi[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/powerball/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateL[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/pre-commit/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Rate[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/rails/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLimit[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/redis-store/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Rat[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/restful_spec/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ra[...]
- request:
    method: get
    uri: https://api.github.com/repos/jwaldrip/restly/contents/?access_token=58aa9c6145e18dca2730779ce98e6960b52c5743&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
[...]
