---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/jwaldrip?access_token=2f45f8432e2e3c0abe34a8d8e09868c40b8520a5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4957'
      X-RateLimit-Reset:
      - '1375755442'
      Last-Modified:
      - Mon, 05 Aug 2013 17:29:25 GMT
      ETag:
      - '"1f9de9bf345e36b1b8ce5e2d1f9215c8"'
      X-GitHub-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"login":"jwaldrip","id":43164,"avatar_url":"https://secure.gravatar.com/avatar/ca94b06e32f746968f0aec970a702a0c?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"ca94b06e32f746968f0aec970a702a0c","url":"https://api.github.com/users/jwaldrip","html_url":"https://github.com/jwaldrip","followers_url":"https://api.github.com/users/jwaldrip/followers","following_url":"https://api.github.com/users/jwaldrip/following{/other_user}","gists_url":"https://api.github.com/users/jwaldrip/gists{/gist_id}","starred_url":"https://api.github.com/users/jwaldrip/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jwaldrip/subscriptions","organizations_url":"https://api.github.com/users/jwaldrip/orgs","repos_url":"https://api.github.com/users/jwaldrip/repos","events_url":"https://api.github.com/users/jwaldrip/events{/privacy}","received_events_url":"https://api.github.com/users/jwaldrip/received_events","type":"User","name":"Jason
        Waldrip","company":null,"blog":"jasonwaldrip.com","location":"Denver, CO","email":"jason@waldrip.net","hireable":true,"bio":"","public_repos":52,"followers":7,"following":6,"created_at":"2008-12-29T17:12:17Z","updated_at":"2013-08-05T17:29:25Z"}'
  recorded_at: Tue, 06 Aug 2013 02:01:55 GMT
- request:
    method: get
    uri: https://api.github.com/users/jwaldrip/repos?access_token=2f45f8432e2e3c0abe34a8d8e09868c40b8520a5&per_page=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4956'
      X-RateLimit-Reset:
      - '1375755442'
      Last-Modified:
      - Mon, 29 Jul 2013 20:41:21 GMT
      ETag:
      - '"b4dd67af6a24ab862d5c9c8cb50aa40e"'
      X-GitHub-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":9439794,"name":"activerecord-postgis-adapter","full_name":"jwaldrip/activerecord-postgis-adapter","owner":{"login":"jwaldrip","id":43164,"avatar_url":"https://secure.gravatar.com/avatar/ca94b06e32f746968f0aec970a702a0c?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"ca94b06e32f746968f0aec970a702a0c","url":"https://api.github.com/users/jwaldrip","html_url":"https://github.com/jwaldrip","followers_url":"https://api.github.com/users/jwaldrip/followers","following_url":"https://api.github.com/users/jwaldrip/following{/other_user}","gists_url":"https://api.github.com/users/jwaldrip/gists{/gist_id}","starred_url":"https://api.github.com/users/jwaldrip/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jwaldrip/subscriptions","organizations_url":"https://api.github.com/users/jwaldrip/orgs","repos_url":"https://api.github.com/users/jwaldrip/repos","events_url":"https://api.github.com/users/jwaldrip/events{/privacy}","received_events_url":"https://api.github.com/users/jwaldrip/received_events","type":"User"},"private":false,"html_url":"https://github.com/jwaldrip/activerecord-postgis-adapter","description":"ActiveRecord
        connection adapter for PostGIS, based on postgresql and rgeo","fork":true,"url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter","forks_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/forks","keys_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/teams","hooks_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/hooks","issue_events_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/issues/events{/number}","events_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/events","assignees_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/assignees{/user}","branches_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/branches{/branch}","tags_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/tags","blobs_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/git/refs{/sha}","trees_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/statuses/{sha}","languages_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/languages","stargazers_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/stargazers","contributors_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/contributors","subscribers_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/subscribers","subscription_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/subscription","commits_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/commits{/sha}","git_commits_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/git/commits{/sha}","comments_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/comments{/number}","issue_comment_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/issues/comments/{number}","contents_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/contents/{+path}","compare_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/merges","archive_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/downloads","issues_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/issues{/number}","pulls_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/pulls{/number}","milestones_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/milestones{/number}","notifications_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jwaldrip/activerecord-postgis-adapter/labels{/name}","created_at":"2013-04-15T03:11:21Z","updated_at":"2013-04-15T03:15:22Z","pushed_at":"2013-04-15T03:15:22Z","git_url":"git://github.com/jwaldrip/activerecord-postgis-adapter.git","ssh_url":"git@github.com:jwaldrip/activerecord-postgis-adapter.git","clone_url":"https://github.com/jwaldrip/activerecord-postgis-adapter.git","svn_url":"https://github.com/jwaldrip/activerecord-postgis-adapter","homepage":"http://dazuma.github.com/activerecord-postgis-adapter","size":136,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":7484946,"name":"adaptive_associations","full_name":"jwaldrip/adaptive_associations","owner":{"login":"jwaldrip","id":43164,"avatar_url":"https://secure.gravatar.com/avatar/ca94b06e32f746968f0aec970a702a0c?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"ca94b06e32f746968f0aec970a702a0c","url":"https://api.github.com/users/jwaldrip","html_url":"https://github.com/jwaldrip","followers_url":"https://api.github.com/users/jwaldrip[...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/invalid_user?access_token=28674d4020bacb7b6c9fb114a87373fb81935537
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWxsLXRoZS1iYWRnZXMtYXBwOmVnZ2hldGZvdnVreWVkb2l2eXJ1d29qd3ViZWplY2Y="
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4946'
      X-RateLimit-Reset:
      - '1375755442'
      X-GitHub-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Not Found"}'
  recorded_at: Tue, 06 Aug 2013 02:09:59 GMT
[...]
